body{
    width:100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

// .App{
//     display: flex;
//     flex-direction: column;
//     background-color: black;
//     height: 100%;
// }