.bottomBar-principal{
    display: flex;
    justify-content: center;
    justify-items: self-start;
    width: 100%;
    min-height: 80px;
    align-items: center;
}

.bottomBar-secondary{
    display: flex;
    width: 90%;
    justify-content: flex-end;
}

.bottomBar-secondary a{
    margin-left: 3vh;
}

.bottomBar-imagen{
    height: 60px;
    width:60px;
    background-color: blanchedalmond;
    border-radius: 20px;
}

.bottomBar-imagen:hover{
    // height:62px;    
    // width:62px;
    border: green 5px solid;

}
