.bottomBar-principal{
    bottom: 0px;
    min-height: 80px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(23, 190, 23) 5px solid
}

.bottomBar-secondary{
    display: flex;
    width: 80%;
    justify-content: space-around;

}

.bottomBar-imagen{
    max-height: 60px;
    width:50px;
    background-color: blanchedalmond;
    border-radius: 7px;
}