.App{
    background: url("https://thumbs.dreamstime.com/b/pantalla-programada-del-c%C3%B3digo-del-desarrollador-de-software-ordenador-93689313.jpg") no-repeat fixed;
    background-size: cover;
    width: initial;
    height: 100%;
    z-index: 7;
}

