.App{
    background-image: url("https://lh3.googleusercontent.com/-Mvs7ksS0cHs/WTVlhdWfYqI/AAAAAAAA0-A/EHeTCNHI2CIfHBGNKABWlKJp9L_hQhszgCHM/byn3_thumb%255B1%255D?imgmax=800");
    width: initial;
    height: 945px;
    z-index: 7;
}

