@mixin align {
    display: flex    
} 

.nav-principal{
    position:sticky;
    background-color: black;
    height: 10%;
    max-height: 140px;
    display: grid;
    align-items: center;
}

.nav-secondary{
    text-decoration: none;
    color: black;
    @include align;
    justify-content: flex-end;
    margin-right: 3%;
    transform: translateX(10px) ;
}

.link{
    text-decoration: none;
    border: orange solid 1px;
    color: white;
    padding: 20px;
    margin-right: 2%;
    border-radius: 50px;
}

.link:hover{
    background-color: white;
    color: black;
}