$green_border:  rgb(23, 190, 23);
$font_audiowide:  "Audiowide", sans-serif;
@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-principal{
    @include display();
}

.principal-secondary{
    @include display();
    flex-direction: column;
    padding: 5px;
    border:$green_border 5px solid;
    width: 90%;
    position: relative;
}

.imagen-principal{
    display:flex;
    max-width: 300px;
    max-height:300px;
    border-radius: 100vh;

}

h1 {
    font-family: $font_audiowide;
    position: relative;
    font-size: 3vh;
    overflow: hidden;
    font-weight: bold;
    color: $green_border;
    width: fit-content;
  }

  
  h1::before{
      content: "";
  }
  
  h1:after {
      content: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(21, 20, 20);
    transform-origin: center right;
    animation-name: marquee;
    animation-duration: 3s;
    animation-iteration-count: 1s;
    animation-timing-function: linear;

  }

  

  .container{
      display: flex;
      justify-content: center;
      position: relative;
      width: 96%;
      height: 60vh;
  }

.container .cara{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagen/FOTO.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container .cara span{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .cara1 span{
    transform-origin: top;
}

.container:hover .cara1 span{
    transform: rotateX(90deg) translateY(-50%) ;
}

.container .cara2 span{
    background: url(../imagen/Low-code-No-code.jpg);
    transform-origin: bottom;
    background-size: cover;
    transform: rotateX(90deg) translateY(50%);
}

.container:hover .cara2 span{
    transform: rotateX(0deg) translateY(0%);
}

.container .cara span:nth-child(1){
    background-position-x: 0%;
    transition-delay: 0s;
}  

.container .cara span:nth-child(2){
    background-position-x: 25%;
    transition-delay: .1s;
} 

.container .cara span:nth-child(3){
    background-position-x: 50%;
    transition-delay: .2s;
}  

.container .cara span:nth-child(4){
    background-position-x: 75%;
    transition-delay: .3s;
}  

@keyframes marquee {
    from {
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}

@media (max-width: 310px) {
    .imagen-principal{
        max-width: 150px;
        min-width: 150px;
    }
}