.projects-principal{
    margin-top: 2%;
    display: grid;
    width:90%;
    // background-color: black;
    opacity: 95%;
    align-items: center;
    color: white;
    opacity: 90%;
    border-radius: 10px;
    border: 4px  rgb(23, 190, 23) solid;
    margin-left: 4%;
}



.projects-secondary{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    border: blanchedalmond 1px solid;
    padding-bottom: 2%;
    background-color: rgb(68, 12, 12);
    margin-bottom: 2%;
    justify-content: center;
    border-radius: 10px;
}

h1{
    justify-self: center;
}

h3{
    font-size: 3vh;
}

span{
    padding-top: 2%;
    padding-bottom: 2%;
}

a{
    text-decoration: none;
}

.projects-card{
    width: 95%;
    display: flex;
    align-items: center;
}

.projects-img{
    height: 300px;
}

.projects-container{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    h5{
        font-size: 2vh;
    }
}

img{
    width: 100%;
}

@media (max-width: 500px) {
    .projects-card{
        flex-direction: column;
    }
    .projects-img{
        width: 90%;
    }
    .projects-container{
        width: 90%;
    }
}